<div class="widget tag">
<h3 class="title">友情链接</h3>
<ul class="entry">
<li><a href="http://zhuao.me/" title="Zhuao">Zhuao</a></li>
<li><a href="http://sommeryw.github.io/" title="wang ying">wang ying</a></li>
</ul>
</div>
